<form type="post" action="{{$action}}">
  <input type='hidden' name='_token' value="{!! csrf_token() !!}">
    <div class="form-body">
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_1">
                <label for="form_control_1">Default State</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <select class="form-control" name="delivery">
                    <option value=""></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label for="form_control_1">Error State</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_1">
                <label for="form_control_1">Default State</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_1">
                <label for="form_control_1">Default State</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_1">
                <label for="form_control_1">Default State</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" id="form_control_1">
                <label for="form_control_1">Default State</label>
            </div>
        </div>

    </div>
    <div class="form-actions noborder">
        <button type="button" class="btn blue">ارسال</button>
        <button type="button" class="btn default">الغاء</button>
    </div>
</form>