 <ul id="accordion">

    <li class ="c-parent">
        <p  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-haspopup="true" aria-expanded="true" aria-controls="collapseOne">property</p>
        <ul id="collapseOne" class="collapse" role="tabpanel">
            <li><a href="/google.com">a</a></li>
            <li>b</li>
        </ul>
    </li>
    <li class ="c-parent">
        <p  data-toggle="collapse" data-parent="#accordion" href="#collapseTow" aria-haspopup="true" aria-expanded="true" aria-controls="collapseTow">property unit</p>
        <ul id="collapseTow" class="collapse" role="tabpanel">
            <li><a href="/google.com">c</a></li>
            <li>d</li>
        </ul>
    </li>
    <li class ="c-parent">
        <p  data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-haspopup="true" aria-expanded="true" aria-controls="collapseThree">property unit activity</p>
        <ul id="collapseThree" class="collapse" role="tabpanel">
            <li><a href="/google.com">c</a></li>
            <li>d</li>
        </ul>
    </li>
    <li class ="c-parent">
        <p  data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-haspopup="true" aria-expanded="true" aria-controls="collapseFour">property document</p>
        <ul id="collapseFour" class="collapse" role="tabpanel">
            <li><a href="/google.com">c</a></li>
            <li>d</li>
        </ul>
    </li>
    
</ul>