<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDEER</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/animate.min.css" rel="stylesheet">
    
    <link href="../css/main.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="../img/favicon.ico">
</head>

<body  >

    <section id="temp1">
        
            <!-- Static navbar -->
              <nav class="navbar navbar-custom navbar-fixed-top">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand " href="#"><img class="c-logo"src="../img/logo_horizone.jpg"></a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-center c-menu-center">
                      
                      <li class="c-menue-item"><a href="#"><img src="../1.png"><p>About</p></a></li>
                      <li class="c-menue-item"><a href="#"><img src="../1.png"><p>About</p></a></li>
                      <li class="c-menue-item"><a href="#"><img src="../1.png"><p>About</p></a></li>
                      <li class="c-menue-item"><a href="#"><img src="../1.png"><p>About</p></a></li>
                      <li class="c-menue-item"><a href="#"><img src="../1.png"><p>About</p></a></li>
                      <li class="c-menue-item"><a href="#"><img src="../1.png"><p>About</p></a></li>
                      <li class="c-menue-item"><a href="#"><img src="../1.png"><p>About</p></a></li>
                      <li class="c-menue-item"><a href="#"><img src="../1.png"><p>About</p></a></li>
                      
                      
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      
                      <li class="c-user"><img class="img-circle" src="../default_user.png">
                        <p>محمد عبدالله</p>
                        <button type="button" class="btn btn-danger">Log Out</button>
                      </li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
              </nav>
    <div class="container c-body-con">
        <div class="col-md-9">
            <div class="raw">
                <div class="col-md-11 col-md-offset-1" >
                    <div id="" class="page-content">
                        &nbsp;
                        <div class="raw">
                            <div class="col-sm-12">
                                <h2>title<h2>
                            </div>
                        </div>
                        <div class="raw">
                            <div class="col-sm-6">
                              <div class="input-group">
                                <input type="text" class="form-control search-in" id="search-in" aria-describedby="inputGroupSuccess2Status">
                                <span class="input-group-addon">search</span>
                              </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="c-col-30">
                                    <P class="c-search_by">SEARCH BY</P>
                                </div>
                                <div class="c-col-70">
                                    <div class="form-group form-group-sm">
                                        <select class="form-control" id="ssa">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>   
                                      </div>
                                    </div>
                                </div>
                              
                        </div> 
                        <div class="raw">
                            <div class="col-md-12 con-tag">
                                <span class="c-tag">tag</span>
                                <span class="c-tag">tag</span>
                                <span class="c-tag">tag</span>
                                <span class="c-tag">tag</span>
                                <span class="c-tag">tag</span>
                            </div>
                        </div>
                        <div class="raw">
                            <div class="col-md-12">
                                <div class="c-nat">

                                </div>
                            </div>
                        </div>
                        &nbsp;  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="side_menu" >
                <ul id="accordion">

                    <li class ="c-parent">
                        <p  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-haspopup="true" aria-expanded="true" aria-controls="collapseOne">sss</p>
                        <ul id="collapseOne" class="collapse" role="tabpanel">
                            <li><a href="/google.com">a</a></li>
                            <li>b</li>
                        </ul>
                    </li>
                    
                    

                </ul>

            </div>
        </div>
    </div>

 
    <footer id="footer">
        <div class="container text-center">
            <div class="col-md-2 ">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <a href="#">Term of use</a>
                    
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <a href="#">Privecy Policy</a>
                    
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <img src="../img/Udeer_Logo.jpg" width="50%">
                    
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <a href="#">Contact Us</a>
                    
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <a href="#">About Us</a>
                    
                </div>
            </div>

        
        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>